public/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <!-- meta-->
    <title>【デモ】株主版ぜんいん社長合宿 面白株主制度第３弾｜面白法人カヤック</title>
    <meta name="description" content="カヤックでは株主の皆さまを「面白株主」と称し、カヤックを一緒につくるメンバーだと考えています。ぜんいん社長になったつもりで、カヤックの未来を一緒に考えてみませんか？">
    <meta name="keywords" content="カヤック, 株主, ぜんいん社長合宿, ブレスト, 面白株主制度">
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- smartphone meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <!-- ogp-->
    <meta property="og:url" content="http://www.kayac.com/ir/kabucamp/">
    <meta property="og:image" content="http://www.kayac.com/ir/kabucamp/img/OGP.jpg">
    <meta property="og:type" content="website">
    <meta property="og:title" content="【デモ】株主版ぜんいん社長合宿 面白株主制度第３弾｜面白法人カヤック">
    <meta property="og:site_name" content="【デモ】株主版ぜんいん社長合宿 面白株主制度第３弾｜面白法人カヤック">
    <meta property="og:description" content="カヤックでは株主の皆さまを「面白株主」と称し、カヤックを一緒につくるメンバーだと考えています。ぜんいん社長になったつもりで、カヤックの未来を一緒に考えてみませんか？">
    <meta property="og:locale" content="ja_JP">
    <!-- twitter card-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="【デモ】株主版ぜんいん社長合宿 面白株主制度第３弾｜面白法人カヤック">
    <meta property="twitter:description" content="カヤックでは株主の皆さまを「面白株主」と称し、カヤックを一緒につくるメンバーだと考えています。ぜんいん社長になったつもりで、カヤックの未来を一緒に考えてみませんか？">
    <meta property="twitter:image" content="http://www.kayac.com/ir/kabucamp/img/OGP.jpg">
    <!-- canonical url-->
    <link rel="canonical" href="http://www.kayac.com/ir/kabucamp/">
    <!-- stylesheet-->
    <link rel="stylesheet" href="css/style.css">
    <!-- javascript-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="top">
        <section class="header_wrapper">
          <div class="title"></div>
          <div class="logo">
            <div class="logo_sun"></div>
            <div class="logo_moon"></div>
            <div class="logo_pre_mountain"></div>
            <div class="logo_pre_tree"></div>
            <div class="logo_title_1"></div>
            <div class="logo_title_2"></div>
            <div class="logo_arrow"></div>
            <div class="logo_text_1"></div>
            <div class="logo_text_2"></div>
            <div class="logo_text_3"></div>
          </div>
          <div class="mob">
            <div class="mob_left">
              <div class="mob_left_1"></div>
              <div class="mob_left_2"></div>
              <div class="mob_left_3"></div>
              <div class="mob_left_4"></div>
              <div class="mob_left_5"></div>
              <div class="mob_left_6"></div>
              <div class="fukidashi_left_1"></div>
              <div class="fukidashi_left_2"></div>
              <div class="fukidashi_left_3"></div>
            </div>
            <div class="mob_right">
              <div class="mob_right_1"></div>
              <div class="mob_right_2"></div>
              <div class="mob_right_3"></div>
              <div class="mob_right_4"></div>
              <div class="mob_right_5"></div>
              <div class="mob_right_6"></div>
              <div class="fukidashi_right_1"></div>
              <div class="fukidashi_right_2"></div>
              <div class="fukidashi_right_3"></div>
            </div>
          </div>
          <div class="sns">
            <div class="sns_twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.kayac.com/ir/kabucamp/" data-text="株主版ぜんいん社長合宿 面白株主制度第３弾｜面白法人カヤック">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
            <div class="sns_facebook"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.kayac.com%2Fir%2Fkabucamp%2F&width=72&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId" width="72" height="20" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
            <div class="sns_hatebu"><a href="http://b.hatena.ne.jp/entry/s/www.kayac.com/ir/kabucamp/" class="hatena-bookmark-button" data-hatena-bookmark-title="株主版ぜんいん社長合宿 面白株主制度第３弾｜面白法人カヤック" data-hatena-bookmark-layout="standard-noballoon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></div>
          </div>
        </section>
      </header>
      <section class="about_info_bg">
        <section class="about">
          <section class="about_wrap">
            <div class="about_title"></div>
            <div class="about_desc">
              <p class="para1">カヤックでは「<a href="http://business.nikkeibp.co.jp/article/opinion/20120124/226450/" target="_blank">ぜんいん社長合宿</a>」と称して、全社員が業務から離れ、カヤックの社長になったつもりでカヤックの制度や、今後のビジョンについてブレストする(アイデアを出しあう)合宿を行っています。</p>
              <p class="para2">今年は、第1弾の「<a href="https://kbns.kayac.com/" target="_blank">面白株主限定ブレストコミュニティ株主会議</a>」、第2弾の「<a href="http://www.kayac.com/ir/kabujinji/" target="_blank">株主人事部化大作戦</a>」に続き、第3弾としてこの「株主ぜんいん社長合宿」を、カヤック社員と株主の皆さまで行う機会をつくります。</p>
              <p class="para3">面白株主の皆さまとカヤック社員の力を合わせることで、思いもよらないアイデアを生み出し、カヤックという企業もっともっと面白く発展させていく場にできればと思っています。</p>
            </div>
          </section>
          <section class="about_bg">
            <div class="about_cloud_1"></div>
            <div class="about_cloud_2"></div>
            <div class="about_cloud_3"></div>
          </section>
        </section>
        <section class="info">
          <section class="info_wrap">
            <div class="info_title"></div>
            <div class="info_list">
              <ul>
                <li class="left">開催日時</li>
                <li class="right">2016年9月（予定）</li>
              </ul>
              <ul>
                <li class="left">場所</li>
                <li class="right">東京都内／鎌倉（予定）<br>
                  <div class="smallfont">※下期の権利確定後に郵送にてご案内します。</div>
                  <div class="smallfont">※交通費の支給はございません。</div>
                </li>
              </ul>
              <ul>
                <li class="left">内容</li>
                <li class="right">
                  <div class="mediumfont">カヤック社員と株主の皆さまでブレインストーミングを実施</div>
                  <div class="mediumfont">(宿泊予定はありません)</div>
                </li>
              </ul>
              <ul>
                <li class="left">定員数</li>
                <li class="right">20名前後<br>
                  <div class="smallfont">※定員を超える場合は抽選となります。</div>
                </li>
              </ul>
            </div>
          </section>
        </section>
      </section>
      <section class="qa">
        <section class="qa_wrap">
          <div class="qa_title"></div>
          <div class="qa_list">
            <div class="qa_q1 js_scroll_on">
              <div class="qa_text">開催内容の詳細をもう少し知りたいです。</div>
            </div>
            <div class="qa_a1 js_scroll_on">
              <div class="qa_text">株主限定コミュニティ「株主会議」の内容を実際に顔をつきあわせて実行することになります。カヤックの社員や代表も参加し、株主の皆さまと一緒にアイデアを出すブレインストーミングを行う場所となります。株主の権利行使に相当するような内容は行いません。また、利益供与にあたるようなお土産等の用意は予定しておりません。</div>
            </div>
            <div class="qa_q2 js_scroll_on">
              <div class="qa_text">参加はできないのですが、当日の内容を知りたいです。</div>
            </div>
            <div class="qa_a2 js_scroll_on">
              <div class="qa_text">開催内容等は後日インターネット上で公開し、不参加の方にも内容をお知らせできるようにいたします。</div>
            </div>
            <div class="qa_q3 js_scroll_on">
              <div class="qa_text">何かしら会社としての新しい発表はありますか?</div>
            </div>
            <div class="qa_a3 js_scroll_on">
              <div class="qa_text">この場で発表をすることはありません。</div>
            </div>
            <div class="qa_q4 js_scroll_on">
              <div class="qa_text">参加はできないのですが、意見したいことがあります。</div>
            </div>
            <div class="qa_a4 js_scroll_on">
              <div class="qa_text">カヤックでは、コーポレートサイトから随時ご意見を受け付けておりますので、以下からご連絡をお待ちしております。<br><a href="http://www.kayac.com/contact" target="_blank">http://www.kayac.com/contact</a></div>
            </div>
          </div>
        </section>
      </section>
      <section class="archive">
        <section class="archive_wrap">
          <div class="archive_title"></div>
          <div class="archive_items">
            <div class="archive_list_1"><a href="http://www.kayac.com/ir/kabujinji/" target="_blank"></a></div>
            <div class="archive_list_2"><a href="https://kbns.kayac.com/" target="_blank"></a></div>
            <div class="archive_list_3"><a href="http://www.kayac.com/ir/kabuseido" target="_blank"></a></div>
            <div class="archive_list_4"><a href="http://www.kayac.com/ir/topmessage" target="_blank"></a></div>
            <div class="archive_cloud_4"></div>
            <div class="archive_cloud_5"></div>
          </div>
        </section>
        <section class="footer_upper">
          <div class="archive_kabu"></div>
          <div class="archive_mob"></div>
        </section>
      </section>
      <footer>
        <div class="sns">
          <div class="sns_twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.kayac.com/ir/kabucamp/" data-text="株主版ぜんいん社長合宿 面白株主制度第３弾｜面白法人カヤック">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
          <div class="sns_facebook"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.kayac.com%2Fir%2Fkabucamp%2F&width=72&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId" width="72" height="20" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
          <div class="sns_hatebu"><a href="http://b.hatena.ne.jp/entry/s/www.kayac.com/ir/kabucamp/" class="hatena-bookmark-button" data-hatena-bookmark-title="株主版ぜんいん社長合宿 面白株主制度第３弾｜面白法人カヤック" data-hatena-bookmark-layout="standard-noballoon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></div>
        </div>
        <div class="copyright"><a href="http://www.kayac.com/" target="_blank"></a></div>
      </footer>
    </div>
  </body>
</html>

src/pug/index.pug
extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  header.top
    section.header_wrapper
      .title
      .logo
        .logo_sun
        .logo_moon
        .logo_pre_mountain
        .logo_pre_tree
        .logo_title_1
        .logo_title_2
        .logo_arrow
        .logo_text_1
        .logo_text_2
        .logo_text_3
      .mob
        .mob_left
          .mob_left_1
          .mob_left_2
          .mob_left_3
          .mob_left_4
          .mob_left_5
          .mob_left_6
          .fukidashi_left_1
          .fukidashi_left_2
          .fukidashi_left_3
        .mob_right
          .mob_right_1
          .mob_right_2
          .mob_right_3
          .mob_right_4
          .mob_right_5
          .mob_right_6
          .fukidashi_right_1
          .fukidashi_right_2
          .fukidashi_right_3
      .sns
        .sns_twitter
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.kayac.com/ir/kabucamp/" data-text="株主版ぜんいん社長合宿 面白株主制度第３弾｜面白法人カヤック">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        .sns_facebook
          <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.kayac.com%2Fir%2Fkabucamp%2F&width=72&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId" width="72" height="20" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        .sns_hatebu
          <a href="http://b.hatena.ne.jp/entry/s/www.kayac.com/ir/kabucamp/" class="hatena-bookmark-button" data-hatena-bookmark-title="株主版ぜんいん社長合宿 面白株主制度第３弾｜面白法人カヤック" data-hatena-bookmark-layout="standard-noballoon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  section.about_info_bg
    section.about
      section.about_wrap
        .about_title
        .about_desc
          p.para1 カヤックでは「
            a(href="http://business.nikkeibp.co.jp/article/opinion/20120124/226450/" target="_blank") ぜんいん社長合宿
            | 」と称して、全社員が業務から離れ、カヤックの社長になったつもりでカヤックの制度や、今後のビジョンについてブレストする(アイデアを出しあう)合宿を行っています。
          p.para2 今年は、第1弾の「
            a(href="https://kbns.kayac.com/" target="_blank") 面白株主限定ブレストコミュニティ株主会議
            | 」、第2弾の「
            a(href="http://www.kayac.com/ir/kabujinji/" target="_blank") 株主人事部化大作戦
            | 」に続き、第3弾としてこの「株主ぜんいん社長合宿」を、カヤック社員と株主の皆さまで行う機会をつくります。
          p.para3 面白株主の皆さまとカヤック社員の力を合わせることで、思いもよらないアイデアを生み出し、カヤックという企業もっともっと面白く発展させていく場にできればと思っています。
      section.about_bg
        .about_cloud_1
        .about_cloud_2
        .about_cloud_3
    section.info
      section.info_wrap
        .info_title
        .info_list
          ul
            li.left 開催日時
            li.right 2016年9月（予定）
          ul
            li.left 場所
            li.right 東京都内／鎌倉（予定）
              br
              .smallfont ※下期の権利確定後に郵送にてご案内します。
              .smallfont ※交通費の支給はございません。
          ul
            li.left 内容
            li.right
              .mediumfont カヤック社員と株主の皆さまでブレインストーミングを実施
              .mediumfont (宿泊予定はありません)
          ul
            li.left 定員数
            li.right 20名前後
              br
              .smallfont ※定員を超える場合は抽選となります。
  section.qa
    section.qa_wrap
      .qa_title
      .qa_list
        .qa_q1.js_scroll_on
          .qa_text
            | 開催内容の詳細をもう少し知りたいです。
        .qa_a1.js_scroll_on
          .qa_text
            | 株主限定コミュニティ「株主会議」の内容を実際に顔をつきあわせて実行することになります。カヤックの社員や代表も参加し、株主の皆さまと一緒にアイデアを出すブレインストーミングを行う場所となります。株主の権利行使に相当するような内容は行いません。また、利益供与にあたるようなお土産等の用意は予定しておりません。
        .qa_q2.js_scroll_on
          .qa_text
            | 参加はできないのですが、当日の内容を知りたいです。
        .qa_a2.js_scroll_on
          .qa_text
            | 開催内容等は後日インターネット上で公開し、不参加の方にも内容をお知らせできるようにいたします。
        .qa_q3.js_scroll_on
          .qa_text
            | 何かしら会社としての新しい発表はありますか?
        .qa_a3.js_scroll_on
          .qa_text
            | この場で発表をすることはありません。
        .qa_q4.js_scroll_on
          .qa_text
            | 参加はできないのですが、意見したいことがあります。
        .qa_a4.js_scroll_on
          .qa_text
            | カヤックでは、コーポレートサイトから随時ご意見を受け付けておりますので、以下からご連絡をお待ちしております。
            br
            a(href="http://www.kayac.com/contact" target="_blank") http://www.kayac.com/contact
  section.archive
    section.archive_wrap
      .archive_title
      .archive_items
        .archive_list_1
          a(href="http://www.kayac.com/ir/kabujinji/" target="_blank")
        .archive_list_2
          a(href="https://kbns.kayac.com/" target="_blank")
        .archive_list_3
          a(href="http://www.kayac.com/ir/kabuseido" target="_blank")
        .archive_list_4
          a(href="http://www.kayac.com/ir/topmessage" target="_blank")
        .archive_cloud_4
        .archive_cloud_5
    section.footer_upper
      .archive_kabu
      .archive_mob
  footer
    .sns
      .sns_twitter
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.kayac.com/ir/kabucamp/" data-text="株主版ぜんいん社長合宿 面白株主制度第３弾｜面白法人カヤック">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      .sns_facebook
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.kayac.com%2Fir%2Fkabucamp%2F&width=72&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId" width="72" height="20" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      .sns_hatebu
        <a href="http://b.hatena.ne.jp/entry/s/www.kayac.com/ir/kabucamp/" class="hatena-bookmark-button" data-hatena-bookmark-title="株主版ぜんいん社長合宿 面白株主制度第３弾｜面白法人カヤック" data-hatena-bookmark-layout="standard-noballoon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    .copyright
      a(href="http://www.kayac.com/" target="_blank")
